sphinx
nbsphinx
nbsphinx-link
ipython
jupyter
ipykernel
sphinx-rtd-theme
cython
sphinx-copybutton
arch==5.6.0
lightgbm==4.5.0
tslearn==0.6.3
datasetsforecast==0.0.8
neuralforecast==1.7.5
statsforecast==1.7.5
mlforecast==0.13.4
scipy==1.13.1
numpy==1.26.4
numba==0.60.0
statsmodels==0.14.2
pytorch_lightning==2.3.3